<div class="usershow-title">ユーザー詳細</div>
<p class="subheading-user">名前</p>
<p><%= @user.name %></p>
<% if @user.id == current_user.id %> 
<p><%= @user.email %></p>
<%= link_to "編集", edit_user_path(@user), class: "button is-primary" %>
<% end %>
<p><%= image_tag @user.user_image %></p>
<p class="subheading-user"><%= @user.name %>の投稿一覧</p>
<% @user.rooms.each do |room| %>
  <%= link_to room do %>
  <div class="room-list">
    <div class="room-image"><%= image_tag room.room_image %></div>
    <div class="room-name"><%= room.room_name %></div><br>
    <div class="room-address"><%= room.address %></div><br>
    <div class="room-price">¥ <%= room.price %></div>
    <%= link_to "削除", room, method: :delete, data: { confirm: "本当に削除しますか？" } %>
  </div>
  <% end %>
<% end %>

               
              
                